# Menu
The **Jeeves Menu**, located on the top of the page, displays the different sections of the Jeeves WebApp. The menu shows the following options:

* [Home](#home)
* [Monitor](#monitor)
* [User Guide](#user-guide)
* [Version](#version)


The following sections describe in detail each element of the Jeeves Menu.

<a href="#home-page" class="go-back"> ← Go back to the Home Page section </a>

## Home
The **Home** option of the Jeeves Menu takes you to the Jeeves WebApp Home page. 
You can also click the Jeeves button to do the same function. 

<a href="#menu" class="go-back"> ← Go back to the Jeeves Menu section </a>

## Monitor
The **Monitor** option of the Jeeves Menu takes you to the Monitor page. The Monitor page shows information about the active and pending simulations happening  in the background of the Jeeves WebApp. The following image shows the Monitor page:

</br>
<img src="images/jeeves-monitor-page.png" alt="Jeeves Monitor page screenshot">
</br>
</br>

The **Monitor** page contains the following two tables:

* **Active Simulations:** Located on the left, it shows the information about the active test cases running on the Jeeves WebApp. It includes the following information:
    * **Pool Status:** The percentage of progress of activities completed up to time.
    * **Project:** The name of the running test case project.
    * **Test Case:** The name of the test case running.
    * **Time Running:** The time passed during the executionThe time elapsed during the test case run process.

    <aside class="notice">Additionally, on the right side of the Active Simulations heading, you can find the number of test cases running displayed inside the parenthesis.
    </aside>

    </br>

* **Pending Simulations:**Located on the right, it presents the information about the pending simulations to run on the Jeeves WebApp. It includes the following information:
    * **Queue Status:** The progress percentage of activities queued that have been achieved up to timeThe percentage of progress of queued activities that have been completed up to time.
    * **Project:** The name of the  test case project to run.
    * **Test Case:** The name of the test case to run.
    * **Time Running:** The expected time to run the test case.

    <aside class="notice">Additionally, on the right side of the <strong>Pending Simulations</strong> title, you can find the number of test cases pending to run displayed inside the parenthesis.
    </aside>
    </br>

    <a href="#menu" class="go-back"> ← Go back to the Jeeves Menu section </a>


## User Guide
The **User Guide** option of the Jeeves Menu takes you to the Jeeves WebApp User Guide. The User Guide shows you information about how to work with the Jeeves WebApp. Additionally, it shows you how to configure the virtual workspace for the Jeeves WebApp and Jeeves API, as well as the API Reference documentation. 

<a href="#menu" class="go-back"> ← Go back to the Jeeves Menu section </a>


## Version
Located in the top-right corner of the page, the **Version** option of the Jeeves Menu takes you to the Instance Details page. The Instance Details page is divided into two sections that show information about the instance:
</br>


* **Run Engine:** Shows the type of engine in which the instance is running. The engine changes depending on whether it is a local instance or one in the cloud:

| Instance | Engine |
| -------- | ------ |
| Cloud | Amazon Web Services (AWS) Spot Instance |
| Local | Localhost Image |
</br>


* **Fleet Resources:** Shows the information about the Fleet Request for AWS. Each fleet request contains an N number of Spot instances where Jeeves runs the test cases.  The information presented of each Fleet Request is the following:

| Section | Value | Description |
| ------- | ----- | ----------- |
| VPC (Virtual Private Cloud) | Name | The name of the VPC |
| | bu | The Dow Jones (DJ) Business Unit of the VPC |
| | environment | The type of environment in which the VPC is | deployed |
| | owner | The email of the VPC owner |
| | product | The type of product of the VPC |
| | component | The DJ Component to which the VPC belongs | 
| | servicename | The name of the service provided |
| AZ (Amazon Zone) | location | The geographical location of the AWS VPC |
| SUBNET | Name | The name of the VPC |
| | bu | The DJ Business Unit of the VPC |
| | environment | The type of environment in which the VPC is deployed |
| | owner | The email of the VPC owner |
| | product | The type of product of the VPC |
| | component | The DJ Component to which the VPC belongs |
| | servicename | The name of the service provided |

<a href="#menu" class="go-back"> ← Go back to the Jeeves Menu section </a>

