# Overview
This documentation guides you through the sections and components of the Jeeves WebApp. It also contains guides for activities such as how to [create a project](#create-a-project) or [create a test case](#create-a-test-case), so that you can start working with the Jeeves WebApp as smoothly as possible.

The Jeeves WebApp User Guide contains the following sections: 

* **[Home Page](#home-page):** Presents the information about the Jeeves Home page.
* **[Menu](#menu):** Presents the information about the different Menu options 
* **[Projects](#projects):**  Presents the information about Projects in Jeeves, from how to create a Project to how to add an integration.
* **[Test Cases](#test-cases):** Presents the information about Test Cases in Jeeves, from how to create a test case to how to interpret test case reports.
* **[Jobs](#jobs):** Presents the information about Jobs in Jeeves, from how to create a job to what are the  job details.

<aside class="notice">Note: To have access to the Jeeves WebApp, you need to be connected to the <a href="https://docs.google.com/document/d/1vZSGBWDmi5Cnw8Hx1e7DLc6lRKgb321l4tsGZI2P9QQ/edit">Dow Jones GlobalConnect VPN</a>.
</aside>


# Home Page
The **Jeeves WebApp Home page** is the main page of Jeeves. When you access the Jeeves WebApp through your browser.  The Jeeves WebApp Home page contains two elements as shown in the following image:  

* [Menu](#menu)
* [Projects](#projects)

</br>
</br>
<img src="images/jeeves-home-page.png" alt="Jeeves Home page screenshot">

</br>
</br>

The following sections describe in detail each element of the Jeeves WebApp Home page.


