# Projects
In Jeeves, **Projects** function as profiles for test cases. You can create Projects to group test cases aimed at a specific web page or web app and organize your test cases by Project profile.

Your Projects are displayed on the Jeeves Home page, organized in a table by date of creation.  To access a Project, click its name, and the Jeeves WebApp will direct you to the Home page of the Project you selected.

<aside class="warning">All Jeeves users have access to all Projects created in Jeeves. Only work on the Projects you created to avoid inconsistencies or problems inside other Projects. 
</aside>

This section contains the following topics:

* [Create a Project](#create-a-project)
* [Project Home Page](#project-home-page)
* [Project Settings](#project-settings)
    * [Change a Project Detail](#change-a-project-detail)
    * [Delete a Project](#delete-a-project)
    * [Restart a Project](#restart-a-project)
    * [Add Integrations to a Project](#add-integrations-to-a-project)

<a href="#home-page" class="go-back"> ← Go back to the Home Page section </a>

## Create a Project
To **create a new Project** profile, follow these steps:

1. Open the **Jeeves WebApp Home page**.
2. Click the **+ Create**  button on the upper right corner of the page.
</br>The **New Project** page appears.
3. Enter the name of the new Project in the **Name** field.
4. Enter the name of the Project team in the **Team** field.
5. Enter the name of the Project business unit in the **Business Unit** field.
6. Enter the url to the Project repository in the **Repository** field.
7. Click the **Ok** button.
</br>Your new Project appears in the Home page.

<aside class="success">After following the preceding steps, you have created a Project profile successfully.
</aside> 

To start working with your project, see the [Project Home page](#project-home-page) section.

<a href="#projects" class="go-back"> ← Go back to the Projects section </a>


## Project Home Page
Project profiles have a **Home page** that showcases the test cases and jobs created for that specific Project. After creating a new Project, the Project Home page is shown as an empty canvas waiting for test cases or jobs to be created.  See the section [Test Cases](#test-cases) and [Jobs](#jobs) to learn how to create a Test Case or a Job.

To learn how to configure your Project, see the [Project Settings](#project-settings) section.

<a href="#projects" class="go-back"> ← Go back to the Projects section </a>



## Project Settings
The Project Home page also shows the **Project Settings** option, located on the top right corner of the page. You can identify it by the gear icon. 

<img src="images/jeeves-project-settings.png" alt="Jeeves Project Settings button screenshot">

The **Project Settings**  page shows you the available settings to configure the Project profile that you are in. It displays the settings ordered in three tabs:

* **About this Project:**  Shows the details about the project. The available details for a Project profile are:
    * **Name:** The name of the Project profile.
    * **Team:** The name of the team creating the Project profile.
    * **Business Unit:** The name of the Team Business Unit.
    * **Repository:** The URL to the Project code repository in GitHub.

* **Integrations:** Adds integrations with other applications (for example, Slack).
* **Other Settings:** Shows other configuration settings for the Project.

In the following sections, you can learn more about the different settings available for the Jeeves Projects profiles. 

* [Change a Project Detail](#change-a-project-detail)
* [Delete a Project](#delete-a-project)
* [Restart a Project](#restart-a-project)
* [Add Integrations to a Project](#add-integrations-to-a-project)

<a href="#projects" class="go-back"> ← Go back to the Projects section </a>



### Change a Project Detail
To **change the Project profile details**, follow these steps:

1. Select a **Project** from the **Jeeves WebApp Home page**.
</br>The selected **Project Home** page appears.
2. Click on the **Project Settings** button on the top right corner of the page.
</br>The **Project Settings** page appears.
3. Select the **About this Project** tab.
</br>The **Project Details** page appears.
4. Enter the new name for the Project in the **Name** field.
5. Enter the new name of the Project Team in the **Team** field.
6. Enter the new name of the Business Unit of the Project Team in the **Business Unit** field.
7. Enter the new URL to the Project code repository in the **Repository** field.
8. Click the **Ok** button.
</br>The Project Details page saves and displays the new details

<aside class="success"> After following the preceding steps, you have changed the details of the Project successfully.
</aside>

<a href="#project-settings" class="go-back"> ← Go back to the Project Settings section </a>



### Delete a Project
To **delete a Project** profile, follow these steps:

1. Select a **Project** from the **Jeeves WebApp Home page**.
</br>The selected **Project Home page** appears.
2. Click on the **Project Settings** button on the top right corner of the page.
</br>The **Project Settings** page appears.
3. Select the **Other Settings** tab.
</br>A checklist with options appears.
4. Select the **Delete this Project** option.
5. Click the **Ok** button.
</br>The Project is deleted and the Jeeves WebApp Home page appears..

<aside class="success">After following the preceding steps, you have deleted the Project successfully.
</aside>

<a href="#project-settings" class="go-back"> ← Go back to the Project Settings section </a>



### Restart a Project
When you restart a Project, Jeeves deletes all the Test Cases loaded to the Project without changing the settings of the Project. 

To **restart a Project**, follow these steps:

1. Select a **Project** from the **Jeeves WebApp Home page**.
</br>The selected **Project Home page** appears.
2. Click on the **Project Settings** button on the top right corner of the page.
</br>The **Project Settings** page appears.
3. Select the **Other Settings** tab.
</br>A checklist with options appears.
4. Select the **Start Over** option.
5. Click the **Ok** button.
</br>The Project Home page appears without any test cases loaded.

<aside class="success">After following the preceding steps, you have restarted the Project profile successfully.
</aside>

<a href="#project-settings" class="go-back"> ← Go back to the Project Settings section </a>



### Add Integrations to a Project
Currently, Jeeves integrates with Slack to deliver channel notifications and alerts about the status of a test case run of a specific Project.  
To integrate Slack Notifications to a Project, you need to follow these two procedures, which are described in detail in the following sections: 

1. [Create a Slack channel WebHook](#1-create-a-slack-channel-webhook)
2. [Integrate Slack notifications to a Project profile](#2-integrate-slack-notifications-to-a-project-profile)

<a href="#project-settings" class="go-back"> ← Go back to the Project Settings section </a>


#### 1. Create a Slack Channel WebHook
To **create a Slack Channel WebHook** to integrate received notifications in your Slack channel, follow these steps:

1. Access the [**Dow Jones Slack Channel Incoming WebHooks**](https://dowjones.slack.com/apps/new/A0F7XDUAZ-incoming-webhooks) page in your browser.
</br>The **Incoming WebHooks** page appears.
2. In the **Post to Channel** section, select your channel from the dropdown menu.
3. Click the **Add Incoming WebHooks integration** button.
</br>A page with the WebHook integration information appears.
4. Save the **WebHook URL** for the following steps.

<aside class="success">After following the preceding steps, you have created the WebHook URL to integrate Jeeves with your Slack channel.
</aside>

To integrate Jeeves to your slack channel, see the [Integrate Slack Notifications to a Project Profile](#integrate-slack-notifications-to-a-project-profile) section.

#### 2. Integrate Slack Notifications to a Project Profile
To **integrate Slack notifications** to a Project profile, follow these steps:

<aside class="notice">Before proceeding to perform these steps, you must follow the steps in the <a href="#2-integrate-slack-notifications-to-a-project">Create a Slack Channel WebHook</a> section.
</aside>


1. Select a **Project** from the **Jeeves WebApp Home page**.
</br>The selected **Project Home** page appears.
2. Click on the **Project Settings** button on the top right corner of the page.
</br>The **Project Settings** page appears.
3. Select the tab **Integrations**.
</br>A form to configure the integration appears.
4. Type the name of your Projects Slack Channel in the **Channel Name** field.
5. Type the WebHook URL in the **WebHook Url** field. See how to get the URL in the Create A Slack Channel WebHook steps.
6. Select the type of notification in the **Notification Trigger** section. You can choose from the following options:
    * **OK:** Notifies that a test case ran successfully. 
    * **Warning:** Notifies that a test case ran with errors.
    * **Bad:** Notifies that a test case ran with unsuccessful  results.
    * **None:** Does not notify when a test case runs.
7. Select the type of alert in the **Alert Trigger** section. You can choose from the following options:
    * **OK:** Notifies that a test case ran successfully. 
    * **Warning:** Notifies that a test case ran with errors.
    * **Bad:** Notifies that a test case ran with unsuccessful results.
    * **None:** Does not notify when a test case runs.
8. Click the **Ok** button.
</br>Jeeves is integrated to your Slack channel. 

<aside class="success">After integrating Slack notifications to your Slack channel, you will receive the notifications every time the conditions that you configured happen.  
</aside>


Once you created and configured your Project profile, it is time to create and configure the test cases for your Project website or web application. 
The [Test Cases](#test-cases) section walks you through the process of  creating, configuring, and running Test Cases.

<a href="#project-settings" class="go-back"> ← Go back to the Project Settings section </a>
