---
title: Slate Template

toc_footers:
  - <a href='https://github.com/wizeline/tw-docops'>DocOps on Github</a>
  - <a href='https://tw-mkdocs.netlify.app'>MkDocs Demo</a>

includes: 
  - get_started.md.erb
  - add_info.md.erb
  - api_example.md


search: true

code_clipboard: true

---



# Two-panel Slate Template

Welcome to the Two-panel Slate Template. A template based on the [Official Dracula Slate Template](https://github.com/dracula/slate).
Use this template to create a static site for documentation such as:

* User Guides
* Information Sites
* API Reference Documentation


The following list shows the sections on this site:

* [Getting Started](#getting-started)
* [Adding a New Page to the Static Site](#adding-a-new-page-to-the-static-site)
* [API Reference Documentation Example](#api-reference-documentation-example)


