---
title: Jeeves User Guide

language_tabs:
  - json
  - shell
 
toc_footers:
  - <a href='https://developer.dowjones.com/site/global/home/index.gsp'>Dow Jones Developer Portal</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  - overview.md.erb
  - menu.md.erb
  - projects.md.erb
  - testcases.md.erb
  - jobs.md
  - glossary.md
  - readmes.md

  
  

search: true

code_clipboard: true
---

# Jeeves
Jeeves is a monitor tool to help developers analyze a project’s web performance. With Jeeves, developers can do the following:

  * Group load the test cases by project profiles.
  * Design the test cases to validate service availability and throughput.
  * Run, stop, and reconfigure the load test scenarios to validate service availability.
  * Monitor your website performance through different test cases.
  * Obtain detailed reports with graphics about their website performance.
  

Jeeves is composed by two main components:

* **Jeeves WebApp:** Is the graphical interface of Jeeves. You can access it through [the stag environment page](http://jeeves.dev.shdsvc.dowjones.io/) or you can create a [WebApp local workspace](#how-to-contribute) to work with it in a local instance.  
* **Jeeves API:** Is the operational core of Jeeves. You can work with it through the Jeeves WebApp interface or through your computer terminal by creating an [API local workspace](#how-to-contribute).

To help you work with the Jeeves WebApp and the Jeeves API, in this page you can find the following sections:

* [User Guide](#overview)
* [Glossary](#glossary)
* [Contribute to Jeeves](#contribute-to-jeeves)
